@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap&subset=latin-ext');

@font-face {
  font-family: 'Preto Semi';
  src: local('Preto Semi'),
  url(./fonts/3ACD0D_0_0.woff2) format('woff2'),
  url(./fonts/3ACD0D_0_0.woff) format('woff'),
  url(./fonts/3ACD0D_0_0.ttf) format('truetype');
}

html, body, #root, .App {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  padding-top: 72px;
  position: relative;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background-dark {
  background-color: #2c1c14;
}

.background-dark2 {
  background-color: #3D3633;
}

.container {
  padding: 0 25px;
  height: 100%;
  margin: 0 auto;
}

.smap .cluster div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.smap .cluster img {
  margin-bottom: 2px;
}

.smap img {
  max-width: none;
}

@media (max-width: 1049px) {
  .App {
    padding-top: 0;
  }

  .container {
    padding: 0 20px;
  }

  body.mobileMenuOpen {
    overflow: hidden;
  }
}